/* general settings */

body {
margin: 0;
}

div {
  display: block;
}



/* nav bar rules */

.nav {
  max-width: 1300px;
  min-height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  position: static;
  border-bottom: 1px solid #ebebeb;
}

.logo {
  float: left;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.nav-bar-right {
  align-items: center;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  display:inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}



/* general content section rules */

.content-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  padding-right: 16px;
  padding-left: 16px;
}

.full-width-div {
  min-height: 300px;
  width: 100%;
  margin: 0;
  background-color: #662244;
}




/* hero section rules */

.hero-page {
  display: flex;
  align-content: center;
  max-width: 1200px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 16px;
  padding-left: 16px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* row and column rules */

.row {
  display: flex;
  align-items: center;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.column-2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 10%;
}

.column-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 4%;
}

.page-break-text {
  padding: 72px;
}



/* footer rules */

.footer-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
}



/* font rules */

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: black;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  color: #662344;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(113, 113, 113);
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  color: black;
}

.p-regular {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  color: black;
}

.p-white {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 16px;
  color: white;
}


/* button rules */

.button {
  width: 200px;
  background-color: #662244;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 300;
}

.secondary-button {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #fff;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 300;
}