/* general settings */

body {
margin: 0;
}

div {
  display: block;
}



/* nav bar rules */

.nav {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  position: static;
  border-bottom: 1px solid #ebebeb;
}

.logo {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.nav-bar-right {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

#hamburger-menu {
  display: flex;
  font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  display:inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}



/* general content section rules */

.content-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  padding-right: 16px;
  padding-left: 16px;
}



/* row and column rules */

.row-1, .footer-row {
  display: flex;
  align-items: center;
}

.page-break-text {
  padding: 72px;
}


/* footer rules */

.footer-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  min-height: 400px;
}



/* font rules */

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: black;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  color: #662344;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(113, 113, 113);
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  color: black;
}

.p-regular {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  color: black;
}

.p-white {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 16px;
  color: white;
}


/* button rules */

.button {
  width: 100px;
  background-color: #662244;
  border: none;
  color: white;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 300;
}

.secondary-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #fff;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  line-height: 12px;
  font-weight: 300;
}


@media (min-width: 480px)
{
    /* these rules apply ONLY on screens 480px and wider */

    /* hero section */
    .hero-page {
      display: flex;
      align-content: center;
      min-height: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-right: 16px;
      padding-left: 16px;
    }
    
    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
    }

    .hero-img {
      display: none;
    }

  
    /* font rules */
    h1 {
      font-size: 30px;
      line-height: 40px;
    }

    h2 {
      font-size: 22px;
    }
    
    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 20px;
    }

    /* grid rules */
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .column-4 {
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    .column-2 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 30%;
    }

    .row-reverse {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }


    .full-width-div {
      min-height: 150px;
      width: 100%;
      margin: 0;
      background-color: #662244;
      margin-bottom: 100px;
      padding: 20px 0px;
    }

    .footer-page {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 1200px;
      min-height: 400px;
      padding: 0px 20px;
    }
    
    img {
      max-height: 600px;
    }

    .nav-bar-right {
      display: none;
    }
  
    #hamburger-menu {
      display: flex;
    }
}

@media (min-width: 768px)
{
    /* these rules apply ONLY on screens 768px and wider */

    /* hero section */
    .hero-page {
      display: flex;
      align-content: center;
      max-width: 900px;
      min-height: 400px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-right: 16px;
      padding-left: 16px;
    }
    
    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .hero-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 50%;
    }

    .full-width-div {
      min-height: 150px;
      width: 100%;
      margin: 0;
      background-color: #662244;
      margin-bottom: 150px;
      padding: 20px 0px;
    }

    /* font rules */
    h1 {
      font-size: 40px;
      line-height: 40px;
    }

    /* grid rules */
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 80px;
    }

    .row-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 80px;
    }

    .column-6 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 50%;
    }

    .column-4 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 30%;
    }

    .footer-page {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 1200px;
      min-height: 400px;
      padding: 0px 40px;
    }

    .nav-bar-right {
      display: none;
    }

    #hamburger-menu {
      display: flex;
    }
}

@media (min-width: 992px)
{
    /* these rules apply ONLY on screens 992px and wider */

    .nav-bar-right {
      display: flex;
    }

    #hamburger-menu {
      display: none;
    }

    .full-width-div {
      min-height: 200px;
      width: 100%;
      margin: 0;
      background-color: #662244;
      margin-bottom: 200px;
      padding: 40px 0px;
    }

    /* hero section rules */
    .hero-page {
      display: flex;
      align-content: center;
      max-width: 1200px;
      min-height: 600px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-right: 16px;
      padding-left: 16px;
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;
    }

    .hero-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 50%;
    }

    /* grid rules */
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 120px;
    }

    .row-reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 150px;
    }

    .column-6 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 50%;
    }

    .column-4 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 33%;
    }

    .column-2 {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 20%;
    }

    .footer-page {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 1200px;
      min-height: 400px;
      padding: 0px 60px;
    }

    h1 {
      font-size: 60px;
      line-height: 60px;
    }
    
    h2 {
      font-size: 28px;
    }
    
    h3 {
      font-size: 20px;
    }
    
    h4 {
      font-size: 28px;
    }
    
}